# VeeR EH1 specific configuration
# This assumes openocd_xc7_ft2232.cfg has been loaded first

# Set the chipname for VeeR
set _CHIPNAME riscv
set _TARGETNAME $_CHIPNAME.cpu

# Create RISC-V target on the existing JTAG chain
# Use the existing tap from xilinx-xc7.cfg (xc7.tap)
target create $_TARGETNAME riscv -chain-position xc7.tap

# No MMU on VeeR (do not attempt virt2phys address translation)
riscv set_enable_virt2phys off

# Configure memory access method
# Utilize "abstract access" to allow to reach VeeR's ICCM, DCCM and PIC core-local memories.
riscv set_mem_access abstract

# Custom numbers for RISC-V Debug JTAG registers 
# (needed due to JTAG tunneling via Xilinx BSCAN cell)
riscv set_ir idcode 0x9
riscv set_ir dmi 0x22
riscv set_ir dtmcs 0x23

# Expose custom VeeR's CSR dmst (csr1988)
riscv expose_csrs 1988

# Custom event hooks to flush VeeR ICACHE prior to step/resume
proc veer_eh1_execute_fence {} {
    # Execute fence + fence.i via "dmst" register
    reg csr1988 0x3
}

$_TARGETNAME configure -event resume-start {
    veer_eh1_execute_fence
}

$_TARGETNAME configure -event step-start {
    veer_eh1_execute_fence
}

# Initialize and halt the target
init
halt